<article class="artworklist">
  <div class="article_body">
  <img  style="display:block; width:160px; margin-top:30px; margin-left: auto; margin-right: auto;" src='http://img2.demotywatoryfb.pl//uploads/201512/1451569608_by_MaciekMagik_inner_noframe.gif' alt="2015..">
  <h3 style="float:left;">Galeria:</h3>
  </div><br>
  <p>Trochę obrazków do oglądania, niektóre trochę niewyraźne.. </p>
  <div class="pixgrid">
    <% if (artwork.length > 0) { %>
      <% for (i=0; i<artwork.length; i++) { %>
        <img src="/images/artwork/<%= artwork[i] %>" alt="Artwork <%= i %>">
      <% } %>
    <% } %>
  </div>
</article>