<article id="getbusy">
  <h1>O stronie..</h1>
  <p>Strona została napisana w języku Javascript za pomocą Express.js - frameworka zbudowanego w środowisku Node.js </p>
  <p>
	<h1>linki:</h1>
	<ul>
	<li><a href =http://expressjs.com/>➤ Framework Express.js</a></li>
	<li><a href =http://rouxme.herokuapp.com/>➤ Przykładowa Strona</a></li>
	<li><a href =https://github.com/senghuot/Rouxmeet>➤ Przykładowy projekt na GitHub</a></li>
	</ul>
  </p>
</article><!-- article -->