<article id="whoarewe">
  <h1>Wstęp..</h1>
  <p> W roku 2009 założyłem pasiekę składającą się z czterech uli, chyba nie do końca wtedy wiedziałem w co się pakuje i jak bardzo mnie to wciągnie.</p>
  <p>Od początku starałem się prowadzić pasiekę w jak najbardziej naturalny sposób unikając jak ognia ciężkiej chemii w ulu co bez odpowiedniej wiedzy miało dość opłakane skutki. Czasy na trzymanie pszczół nie są najlepsze, nawet starsi doświadczeni pszczelarze rozkładają ręce w starciu z wyniszczającymi rodziny pszczele chorobami i pasożytami. Rodziny pszczele spotyka ten sam los co nas ludzi, większość leków tak naprawdę nie leczy lecz pozwala jedynie utrzymywać przy życiu i zarabiać tym którzy je produkują. Przez te wszystkie lata zadawałem sobie pytanie co to znaczy że pasieka prowadzona w zgodzie z naturą? Czyli w zgodzie z czym? Odpowiedź oczywiście powinna być prosta - w zgodzie z samymi pszczołami, bo to one wiedzą najlepiej co robią i po co - tylko my nie zawsze rozumiemy o co im chodzi, staramy się pomagać a tak naprawdę tylko im szkodzimy, pomagamy jednej rodzinie pszczelej przeżyć i w ten sposób pogarszamy jakość całej populacji. Swoją &quotboską&quot interwencją zakłócamy naturalny proces selekcji dzięki któremu populacja w sposób ciągły dostosowuje się do wciąż zmieniających się warunków.<br>
  <p>
  	<h1> Naturalnie czyli..</h1>
  </p>
  <p>
  Naturalnie znaczy dla mnie przede wszystkim bez wysiłku. Można powiedzieć że leniwie - czyli bez zbędnego marnowania energii. Naturalnie znaczy prosto, znaczy też skromnie - oczywiście na razie jeszcze moda na minimalizm jest pieśnią przyszłości, jesteś leniwy? O nie! Dlaczego? Pracuj więcej - najlepiej dla kogoś innego.. 
	</p>
	<p>
  Żyć naturalnie znaczy też być na swoim miejscu, robić to do czego jest się przystosowanym i to co wychodzi samo, jakby mimowolnie. Gdybyśmy wystrzelili na przykład wszystkich Rosjan na Księżyc to oni nie czuli by się tam naturalnie i musieli by się sporo namęczyć i napracować żeby tam przeżyć. Oczywiście to jest ideał i nie jest teraz możliwe ani to żeby wystrzelić wszyskich Rosjan ani to aby dzikie plemiona zaszyte gdzieś w środku lasu tropikalnego żyły w pełni naturalnie tak jak od zawsze, równowaga została zachwiana i teraz prawdopodobnie może być już tylko gorzej.
  </p>
</article><!-- article -->